body{
    margin:0;
    padding:0;
}
input,button{
    outline:0;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
#login{
    background:url(../img/login.png) no-repeat;
}
#file,#share{
    background:url(../img/file.png) no-repeat;
}
#promote{
    background:url(../img/promote.png) no-repeat;
}
#login,#file,#promote,#share{
    width:100%;
    height: 100vh;
    background-size:100% 100%;
    position: relative;
}

@media screen and (min-width: 768px)   {
    #login,#file,#promote,#share{
        width:320px;
        height: 600px;
        background-size:100% 100%;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin:auto;
    }
}
/*登录页样式*/
#login_container{
    position:absolute;
    bottom:20%;
    left:6%;
    width:88%;
    overflow: hidden;
}
#login_form{
    float:left;
    width:65%;
}
#login_img{
    float:right;
    width:30%;
}
#modaltoggle{
    margin-top: 10px;
}
#login_input label{
     float:left;
    color: #9B1A10;
    padding-top: 6px;
    text-align: left;
}
.inp{
    float:right;
    background: #8C8783;
    border: none;
    width:94%;
    height:24px;
    margin-bottom: 5px;
    border-radius:5px;
    padding:2px 10px;
    box-sizing: border-box;
    color:#fff;
}
::-webkit-input-placeholder{
    color:#666;
}:-moz-placeholder {
     color:#666;
 }:-ms-input-placeholder {
    color:#666;
}
.sub{
    background: #9B1A10;
    border: none;
    width:94%;
    height:24px;
    padding:5px 10px;
    border-radius:5px;
    margin-bottom: 5px;
    color:#fff;
    cursor: pointer;
    margin-left: 6%;
}
#login_img img{
    width:100%;
    border-radius: 5px;
    cursor:move;
}
/*档案样式*/
#file_img,#share_img{
    width:38%;
    height:25vh;
    position:absolute;
    top:27%;
    right:5%;
    background:gray;
    opacity: 0.8;
    border-radius: 5px;
    overflow: hidden;
}
#file_img img,#share_img img{
    width: 100%;
    border-radius: 5px;
}
#file_form,#share_form{
    position: absolute;
    top:46%;
    left:12%;
    -webkit-text-size-adjust: none;
    font-size: 0.8em;
    color:#fff;
    font-weight: bold;
}
#file_form>div,#share_form>div{
    margin-bottom: 0.8em;
}
#file_form>div b,#share_form>div b{
    color:yellow;
}
#file_form>div button{
    padding:0;
    font-size: 0.8em;
    background: #fff;
    opacity: 1;
    color:red;
    font-weight: bold;
    margin-left:5px;
   border-radius: 3px;
}
#file_btn,#share_btn{
    position: absolute;
    bottom:10%;
    left:8%;
    margin-bottom: 10px;
}
#file_btn  button,#share_btn button{
    color:yellow;
    background:gray;
    padding: 5px;
    border-radius:5px;
    font-size: 0.8em;
    cursor: pointer;
}
#promote{
    display:none;
}
#promote_container button{
    color:yellow;
    background:gray;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 0.8em;
    position: absolute;
    left:0;
    right:0;
    bottom:10%;
    width:30%;
    margin:0 auto;
}